<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{title}}</title>
  <link rel="stylesheet" href="{{cssPlus}}">
  <link rel="stylesheet" href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css">
  <link rel="stylesheet" href="/css/index.css">

</head>

<body>
  <header>
    <div class="title">
      <img src="/images/bike.png" alt="Logo Pagina" />
    </div>
    <nav>
      <ul>
        <li> <a href="/">Inicio</a></li>
        <li> <a href="/realTimeProducts">Tiempo Real</a></li>
        <li> <a href="/cart">Carrito</a></li>
        <li> <a href="/chat">Chat</a></li>
      </ul>
    </nav>
  </header>

  {{{body}}}

  <footer>
    <div id="copyright">
    </div>
  </footer>
  <script src="/js/index.js"></script>
</body>

</html>